<div class="image">
  <mat-card    style="background-color:whitesmoke  ;opacity: 0.9 ; width:300px ;height: 300px;  position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)"  >
    <mat-card-header>
        <img src="assets/img/admin.png" style="height:70px;width:70px;position: absolute; left: 40% ;top:10% ;">
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" style="position: absolute; left: 24% ;top:40%">
              <input matInput placeholder="Username" [(ngModel)]="usernametextarea" name="username"   required  >
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width" style="position: absolute; left: 24% ; top:60%">
            <input matInput placeholder="Password" [(ngModel)]="passwordtextarea"type="password" name="password"  required>
          </mat-form-field></td>
        </tr></table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="connect()" color="primary" style="position: absolute; left: 40% ; top:80%" >Login</button>
    </mat-card-actions>
    
  </mat-card>


</div>